:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #2b283a;
  background-color: #f5f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  padding: 4.6rem;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: white;
  background-color: #f55a5a;
}

.Entry {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.Entry span {
  display: flex;
  gap: 16px;
}

img {
  width: 250px;
  height: 340px;
  margin: 10px;
  border-radius: 8px;
  object-fit: cover;
}

.marker {
  color: #f55a5a;
  margin-right: 0.2rem;
}

.location {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.17rem;
}

.view-map {
  color: #918e9b;
}

.title {
  font-size: 2.4rem;
}

.date {
  font-weight: bold;
}
